<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Course</title>
    <link rel="stylesheet" href="/css/course.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="/js/nav.js" defer>
        function logOut() {
            const logOut = document.getElementById("logout");
            logOut.onclick
        }
    </script>
</head>
<body>
    <div id="nav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/api/home">Home</a>
        <a href="/api/courses">Courses</a>
        <a href="/api/library">Library</a>
        <a href="/api/messages">Messages</a>
        <a href="/api/profile">Profile</a>
        <!-- Log Out needs to call method to end user sessions -->
        <a id="logout" href="/api/logout">Log Out</a>
    </div>
    <span style="font-size:50px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>
    <div class="wrapper">
        <div id="courseName"> <%= course %> </div>
        <a href="/api/space/<%=course%>">
            <div class="block">
                <p class="left">
                    Check out what your peers are saying here!
                </p>
            </div>
        </a>
        <a href="/api/review/<%= course %>">
            <div class="block">
                <% if (courseRating == 0) { %>
                    <p class="right1">
                        This course currently has no reviews.
                    </p>
                    <p class="right1">
                        Be the first to add one!
                    </p>
                <% } else { %>
                    <p class="right2">
                        This course is currently rated
                    </p>
                    <p class="rightNumber">
                        <%= courseRating %>
                    </p>
                    <p class="right2">
                        stars. Click here to find out why.
                    </p>
                <% } %>
            </div>
        </a>
    </div>
</body>
</html>