<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>General Feed</title>
    <link rel="stylesheet" href="/css/.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script>
        // Need to change this but these are the open and close functions
        function openNav() {
          document.getElementById("mySidenav").style.width = "250px";
          document.getElementById("main").style.marginLeft = "250px";
          document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }
        
        function closeNav() {
          document.getElementById("mySidenav").style.width = "0";
          document.getElementById("main").style.marginLeft= "0";
          document.body.style.backgroundColor = "white";
        }
    </script>
</head>
<body>
    <!-- Div opens when menu button clicked -->
    <div id="mySidenav" class="sidenav">
        <!-- Button For Closing Nav -->
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Home</a>
        <a href="#">Courses</a>
        <a href="#">Library</a>
        <a href="#">Messages</a>
        <a href="#">Profile</a>
        <!-- Using class signout to make it at the bottom of navbar -->
        <a class="signout" href="/api/logout">Log Out</a>
    </div>
    <!-- Menu Button -->
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776; open</span>
</body>
</html>