<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Wrong</title>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body>
    <img class="left_block" src="./media/images/class.png">
    <div class="container">
        <p class="title">EveryClass</p>
        <p class="description">
            By Everyone ©
        </p>
    </div>
    <div class="container2">
        <form id="credentials" action="/home" method="GET">
                <label for="email"><b>Email:</b></label>
                <input type="text" placeholder="Email" name="email" required>

                <label for="pswd"><b>Password:</b></label>
                <input type="password" placeholder="Password" name="pswd" required>
                <p class="error" style="color:#ff0000">Your email or password was incorrect!"</p>

                <button type="submit" class="submit" value="Submit">Log In</button>
        </form>
    </div>
    <p id="or"> or </p>
    <div class="nav">
        <a href="/registration/sign_up.html"> Sign Up </a>
    </div>
</body>
</html>