<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Wrong</title>
    <link rel="stylesheet" href="/css/sign_up.css">
</head>
<body>
    <form action="/api/user" method="POST">
        <div class="container">
            <h1>Sign Up</h1>
            
            <label for="email" class="ejs"><b>Type Your Astate Email:</b></label>
            <input type="text" placeholder="Type Astate Email" name="email" required>
            <p class="error" style="color:#ff0000">Email must contain "@smail.astate.edu"</p>

            <label for="pswd" class="ejs"><b>Type Your Password:</b></label>
            <input type="password" placeholder="Password" name="pswd" required>
            <p class="error" style="color:#ff0000">Passwords should contain at least
                ten characters, a capitalized letter, and a special character</p>

            <label for="pswd_verify"><b>Re-Type Your Password:</b></label>
            <input type="password" placeholder="Password" name="pswd_verify" required>

            <p class="terms">By creating an account, you agree to EveryClass's
                <a href="" style="color:dodgerblue">Terms and Service</a></p>

            <div>
                <button type="button" class="backbtn" onclick="history.go(-2)">Go Back</button>
                <button type="submit" class="submitbtn">Sign Up</button>
            </div>
        </div>
    </form>
</body>
</html>