<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="/css/updateProfile.css">
    <link rel="stylesheet" href="/css/nav.css">
    <script src="/js/nav.js" defer></script>
</head>
<body>
    <div id="nav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="/api/home">Home</a>
        <a href="/api/courses">Courses</a>
        <a href="/api/messages">Messages</a>
        <a href="/api/profile">Profile</a>
        <a id="logout" href="/api/logout">Log Out</a>
    </div>
    <span style="font-size:50px;cursor:pointer;color:white;" onclick="openNav()">&#9776;</span>

    <div class="wrapper">
        <form action="/api/profileUpdated" method="POST">
            <div class="container">
                <h1>Update Profile</h1>
                
                <label for="firstName" class="info"><b>First Name:</b></label>
                <input type="text" placeholder="First Name" name="firstName" required>

                <label for="lastName" class="info"><b>Last Name:</b></label>
                <input type="text" placeholder="Last Name" name="lastName" required>

                <label for="GPA" class="info"><b>GPA:</b></label>
                <input type="text" placeholder="GPA" name="GPA" required>

                <label for="major" class="info"><b>Major:</b></label>
                <input type="text" placeholder="Major" name="major" required>
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>