/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    background-image: url("../media/images/EveryClass.png");
}

.wrapper {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;

    /* Size */
    height: 90%;
    width: 90%;

    /* Position */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.block {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;
    border-radius: 5%;

    /* Size */
    height: 60%;
    width: 40%;

    /* Position */
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    margin-left: 4%;
    margin-right: 3%;

    /* Content */
    font-size: 24px;
    font-family: Arial;
    color: black
}

/* ========================================================================== */
/* --------------------------- Non-Container -------------------------------- */
/* ========================================================================== */

#courseName {
    /* Border */
    border: solid;
    border-radius: 5%;
    border-color: black;
    background-color: white;

    /* Size */
    padding: 1%;
    margin: 0 auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 40%;
    
    /* Position */
    text-align: center;
    display: block;

    /* Content */
    font-family: Arial;
    font-size: 28px;
}

a:link {
    /* Content */
    text-decoration: none;
}

a {
    /* Position */
    text-align: center;
}

.left {
    /* Position */
    transform: translate(0%, 225%);

    /* Content */
    font-family: newfont;
}

.right1 {
    /* Position */
    transform: translate(0%, 400%);

    /* Content */
    font-family: newFont;
}

.right2 {
    /* Position */
    transform: translate(0%, 325%);

    /* Content */
    font-family: newFont;
}

.rightNumber {
    /* Position */
    transform: translate(0%, 325%);

    /* Content */
    font-family: Arial;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}