/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    overflow: hidden;
}

.left_block {
    width: 60%;
    height: 900px;
    object-fit: cover;
    display: inline-block;
    border: solid;
    border-width: 5px;
    border-bottom: none;
    border-color: #000000;
    transform: translate(-5%, -5%);
}

.container {
    width: fit-content;
    position: fixed;
    top: 25%;
    left: 78%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.text {
    margin: auto;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid;
    border-color: #92abb0;
    border-radius: 10px;
    width: fit-content;
    margin-bottom: 12.5%;
}

/* ========================================================================== */
/* -------------------------------- Text ------------------------------------ */
/* ========================================================================== */

.title {
    display: block;
    color: black;
    font-size: 100px;
    margin: auto;
    margin-bottom: 0%;
    width: auto;
    text-align: center;
    font-family: newFont;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.5);
}

.description {
    display: block;
    color: black;
    font-size: 24px;
    margin: auto;
    padding: 12.5%;
    width: 40%;
    text-align: center;
    font-family: newFont;
}

.container2 {
    width: fit-content;
    position: fixed;
    top: 50%;
    left: 88.75%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

#or {
    width: fit-content;
    position: fixed;
    top: 65%;
    left: 78.5%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
    font-family: newFont;
    font-size: 24px;
}

input {
    display: inline-block;
    text-align: center;
    width: 50%;
    margin-bottom: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

label {
    display: inline-block;
    text-align: center;
    width: 50%;
    font-family: newfont;
}

.submit {
    display: block;
    text-align: center;
    font-family: newFont;

    border-color: #000000;
    background-color: white;
    color: black;

    padding: 2.5%;
    font-size: 20px;
    width: 25%;
    border: solid;
    border-radius: 10px;
    margin-left: 12.5%;
    
    box-shadow: 0px 5px rgba(0, 44, 88, 0.5);
}

.submit:hover {
    background-color: rgba(204, 204, 204, 0.8);
    cursor: pointer;
}

/* ========================================================================== */
/* ------------------------------ Nav Bar ----------------------------------- */
/* ========================================================================== */

.nav a {
    text-align: center;
    display: block;
    font-family: newFont;
    position: fixed;

    border-color: #000000;
    background-color: white;
    color: black;

    padding: 2.5%;

    text-decoration: none;
    font-size: 40px;
    width: 20%;
    border: solid;
    border-radius: 20px;
    
    box-shadow: 0px 5px rgba(0, 44, 88, 0.5);
    
    top: 80%;
    left: 78.5%;
    transform: translate(-50%, -50%);
}
  
  /* Change the color of links on hover */
.nav a:hover {
    background-color: rgba(204, 204, 204, 0.8);
    cursor: pointer;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}