/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    background-image: url("../media/images/EveryClass.png");
}

.wrapper {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;

    /* Size */
    height: 90%;
    width: 90%;

    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    overflow-x: hidden;

    /* Content */
    text-align: center;
    font-family: newFont;
}

.conversation {
    /* Border */
    border: 2px solid;

    /* Size */
    width: 98%;
    height: 65%;

    /* Position */
    margin: .2%;
    transform: translate(.75%, 0);
    overflow-y: scroll;

    /* Content */
    text-decoration: none;
    color: black;
}

.name {
        /* Position */
        display: inline-block;
        text-align: center;
        margin-left: 8%;
        margin-right: 8%;
}

/* ========================================================================== */
/* --------------------------- Non-Container -------------------------------- */
/* ========================================================================== */

h1 {
    /* Border */
    border: solid;
    border-color: black;
    border-radius: 5%;
    background-color: white;

    /* Size */
    width: fit-content;
    padding: 1.5%;
    margin: 3%;
    margin-left: 7.5%;

    /* Position */
    display: inline-block;
    text-align: center;

    /* Content */
    font-size: 30px;
    font-family: Arial;
}

button {
    /* Border */
    border: solid;
    border-radius: 5%;
    border-color: black;
    background-color: gray;

    /* Size */
    width: 40px;
    height: 40px;

    /* Position */
    float: right;
    margin-right: 1%;
    margin-top: 1%;

    /* Content */
    font-family: newFont;
    font-size: 30px;
}

button:hover {
    /* Cursor */
    cursor: pointer;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}