/* ========================================================================== */
/* ----------------------------- Nav Bar ------------------------------------ */
/* ========================================================================== */

#nav {
    /* Size */
    height: 100%;
    width: 0;
    padding-top: 60px;

    /* Position */
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    /* Content */
    overflow-x: hidden;
    transition: 0.5s;

    /* Background */
    background-color: #111;
}

#nav a {
    /* Size */
    padding: 8px 8px 8px 32px;

    /* Content */
    text-decoration: none;
    font-size: 25px;
    display: block;
    transition: 0.3s;
    font-family: newfont;
    color: #818181;
}

#nav a:hover {
    /* Content */
    color: #f1f1f1;
}

#nav .closebtn {
    /* Position */
    position: absolute;
    top: 0;
    right: 25px;
    margin-left: 50px;

    /* Content */
    font-size: 36px;
    transition: .25s ease-in-out;
}

#logout {
    /* Position */
    margin-top: 80%;
}