/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    /* Background */
    background-image: url("../media/images/class.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    /* Border */
    border-width: thick;
    border-radius: 10px;
    border-color: black;
    border: 10px solid;
    background-color: white;

    /* Size */
    width: 50%;
    height: 75%;
    padding: 1.25%;
    overflow-y: scroll;

    /* Position */
    position: fixed;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    margin: 1.25%;
    text-align: center;
}

/* ========================================================================== */
/* --------------------------- Non-Container -------------------------------- */
/* ========================================================================== */

h1 {
    /* Size */
    width:  40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    /* Position */
    text-align: center;
    margin: auto;
    
    /* Content */
    font-family: newFont;
    font-size: 40px;
}

label {
    /* Size */
    width: auto;
    padding: 2.5%;

    /* Position */
    text-align: center;
    display: inline-block;

    /* Content */
    font-family: newFont;
    font-size: 40px;
}

input {
    /* Size */
    width: 75%;

    /* Position */
    text-align: center;
    display: inline-block;

    /* Content */
    font-family: newFont;
    font-size: 30px;
}

button {
    /* Border */
    border: 2px solid;
    border-color: #000000;
    background-color: #38ba84;

    /* Size */
    padding: 1.75% 4.3%;

    /* Position */
    margin: 1.75%;
    margin-left: 2.5%;
    transition: .25s ease-in-out;
    text-align: center;

    /* Content */
    font-family: newFont;
    font-size: 16px;
    color: black;
}

.terms {
    /* Position */
    text-align: center;
}

.error {
    /* Size */
    width: 75%;

    /* Position */
    text-align: center;
    display: inline-block;

    /* Content */
    font-family: newFont;
    font-size: 14px;
}

.backbtn {
    /* Border */
    border: 2px solid;
    border-color: #000000;
    background-color: #38ba84;

    /* Size */
    padding: 1.75% 4.3%;

    /* Position */
    margin: 1.75%;
    transition: .25s ease-in-out;
    text-align: center;

    /* Content */
    font-family: newFont;
    font-size: 16px;
    color: black;
    text-decoration: none;
}

.backbtn:hover {
    /* Size */
    padding-left: 6.78%;

    /* Position */
    transition: .25s ease-in-out;
    margin-left: calc(-.75%);

    /* Content */
    cursor: pointer;
}

.submitbtn:hover {
    /* Size */
    padding-right: 6.78%;

    /* Position */
    transition: .25s ease-in-out;

    /* Content */
    cursor: pointer;
}

/* Class exists only in the ejs file for label changes */
.ejs {
    /* Size */
    width: 500px;
    padding: 0px;

    /* Position */
    text-align: center;
    display: inline-block;
    margin-left: 13%;

    /* Content */
    font-family: newFont;
    font-size: 40px;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}