/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    background-image: url("../media/images/EveryClass.png");
}

.main {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;

    /* Size */
    height: 95%;
    width: 90%;

    /* Position */
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.posts {
    /* Border */
    border: 2px solid;

    /* Size */
    width: 98%;
    height: 65%;

    /* Position */
    transform: translate(.75%, 0);
    overflow-y: scroll;
}

.post {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;

    /* Size */
    width: 98%;
    height: fit-content;

    /* Position */
    text-align: center;
    margin: 2px;
    transform: translate(.5%, 0);

    /* Content */
    overflow-y: scroll;
    font-family: Arial;
    font-size: 12px;
}

#user {
    /* Size */

    /* Position */
    display: block;
    transform: translate(-35%, 0);
}

#dateTime {
    /* Position */
    display: block;
    transform: translate(-37.75%, 0);
}

.writePost {
        /* Border */
        border: 2px solid;
        border-color: black;
        background-color: white;
    
        /* Size */
        width: 98%;
        height: 100px;
    
        /* Position */
        text-align: center;
        margin: 2px;
        transform: translate(.5%, 0);
    
        /* Content */
        overflow-y: scroll;
        font-family: Arial;
        font-size: 12px;
}

/* ========================================================================== */
/* --------------------------- Non-Container -------------------------------- */
/* ========================================================================== */

h1 {
    /* Border */
    border: solid;
    border-color: black;
    border-radius: 5%;
    background-color: white;

    /* Size */
    width: fit-content;
    padding: 1%;
    margin: 2%;

    /* Position */
    display: inline-block;
    text-align: center;

    /* Content */
    font-size: 30px;
    font-family: Arial;
}

img {
    /* Border */
    border-radius: 60%;

    /* Size */
    height: 5%;
    width: 5%;

    /* Position */
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

textarea {
    /* Background */
    background-color: white;

    /* Size */
    width: 100%;
    height: 100%;

    /* Content */
    font-size: 12px;
}

button {
    /* Border */
    border: 2px solid;
    border-color: black;

    /* Size */
    width: 5%;
    height: 5%;

    /* Position */
    position: absolute;
    transform: translate(870%, -120%);

    /* Content */
    font-family: newFont;
}

button:hover {
    cursor: pointer;
}

.name {
    display: inline;
}

.time {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5%;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}