/* ========================================================================== */
/* ---------------------------- Containers ---------------------------------- */
/* ========================================================================== */

body {
    /* Background */
    background-image: url("../media/images/EveryClass.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.wrapper {
    /* Border */
    border: solid;
    border-color: black;
    background-color: white;

    /* Size */
    height: 90%;
    width: 90%;

    /* Position */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    /* Content */
    text-align: center;
}

/* ========================================================================== */
/* --------------------------- Non-Container -------------------------------- */
/* ========================================================================== */

h1 {
    /* Size */
    width:  40%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;

    /* Position */
    text-align: center;
    margin: auto;
    
    /* Content */
    font-family: newFont;
    font-size: 40px;
}

label {
    /* Size */
    width: 35%;
    padding: 2.5%;

    /* Position */
    text-align: center;
    display: inline;
    margin-left: 10%;
    margin-top: 5%;

    /* Content */
    font-family: newFont;
    font-size: 40px;
}

input {
    /* Border */
    border-color: black;
    border: 5px solid;

    /* Size */
    width: 35%;

    /* Position */
    text-align: center;
    display: inline;
    margin-left: 12.5%;
    margin-right: 10%;
    margin-bottom: 5%;

    /* Content */
    color: black;
    font-size: 30px;
}

button {
    /* Border */
    border: 2px solid;
    border-color: black;

    /* Size */
    width: 10%;
    height: 10%;
    padding: 2%;

    /* Position */
    text-align: center;
    display: inline;

    /* Content */
    font-family: newFont;
    font-size: 20px;
}

button:hover {
    cursor: pointer;
}

/* ========================================================================== */
/* ------------------------------- Fonts ------------------------------------ */
/* ========================================================================== */

@font-face {
    /* https://www.dafont.com/fort-quinsy.font */
    font-family: newFont;
    src: url("../media/fonts/Cocogoose.ttf") format("opentype");
}